ul{padding: 0;}
.side-footer{
    border-color: #aaa !important;
}
.ddcommon{
    width:50px !important;
}
.collapse-div{
        top: -7%;
        display: none;
}
  
.collapse-div:after, .collapse-div:before {
    bottom: 100%;
    left: 84px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.collapse-div:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ebebeb;
    border-width: 17px;
    margin-left: -43px;
}
.collapse-div:after {
      border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fcfafa;
    border-width: 15px;
    margin-left: -41px;
}
.logo{padding: 15px;}
.menu{
        height: 450px;
}
.logout{
        background: #dadada08;
    margin-top: 12px;
        padding: 9px 30px;
}
.logout span{
        padding-left: 20px;
    color: #fff;
}
.logout a:hover{text-decoration: none;}
.profile img{width:auto;}
.profile p{
    font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #41302a;
}
.profile b{
    background-color: #8a6454;
    border-radius: 75%;
    width: 12px;
    height: 12px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 53%;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
}

/* Checkbox button css */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #4C4C51 !important;
    border-radius: 2px;
    background: #fff;
}
.checkbox-gray:checked + label:before,
.checkbox-gray:not(:checked) + label:before{
 border-color:#4C4C51; 
 /*background: #4C4C51;*/
}
.checkbox-gray:checked + label:after,
.checkbox-gray:not(:checked) + label:after{
 border-color:#ffff; 
}


[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: url('../images/right-icon.svg') !important;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-dark:checked + label:before,
.checkbox-dark:not(:checked) + label:before {
    background: #F3F3F3;
    border:none;
}
.checkbox-gray:checked + label:before, .checkbox-gray:not(:checked) + label:before{
    background: #ffff !important;
    border: 2px solid #4C4C51;
border-radius: 4px;

}
.checkbox-gray:checked + label:before{
    background: #775649 !important;
    border: 2px solid #4C4C51;
border-radius: 4px;
}
.checkbox-dark:checked + label:after,
.checkbox-dark:not(:checked) + label:after {
  background: #4C4C51;
}
.checkbox-gray:checked + label:after,
.checkbox-gray:not(:checked) + label:after {
   background: url('../images/right-icon.svg') !important;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*Radio button css */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio-dark:checked + label:before,
.radio-dark:not(:checked) + label:before {
    background: #F3F3F3 !important;
    border:none !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #4C4C51 !important;
    border-radius: 100%;
    background: #fff;
}
.radio-gray:checked + label:before,
.radio-gray:not(:checked) + label:before{
 background: #4C4C51;
 border-color:#4C4C51; 
}
.radio-gray:checked + label:after,
.radio-gray:not(:checked) + label:after{
 border-color:#ffff; 
}


[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-dark:checked + label:after,
.radio-dark:not(:checked) + label:after {
   background: url('../images/right-icon.svg');
}
.radio-gray:checked + label:after,
.radio-gray:not(:checked) + label:after {
  background: #fff;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.radio-dark:checked + label:before{
    background-color: #ef634c !important;
    border-color: #ef634c !important;
}

body{    background: #fcfafa;}
    form{width: 100%;}i{    color: #aaa;}
    .Group-71 {
      width: 924px;
      height: 145px;
      object-fit: contain;
    }
    .welcome {
    width: 160px;
    height: 48px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #2e221e;
    margin-top: 50px;
    }
    .Now-you-can-use-easy-and-simple-digital-signatuers {
    width: 321px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .You-can-use-5-times-for-FREE {
    width: 184px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .First-Name {
    width: 68px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .Rectangle-38 {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5 !important;
    }
    .Path-716 {
    width: 688px;
    height: 50px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .Employee{
      width: 334px;
    height: 50px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    #main{
    position: relative;
    /*float: right;*/
    /*width: calc(100% - 260px);*/
    transition: .33s,cubic-bezier(.685,.0473,.346,1);
    }
    .addRecipt{
          background-color: #8a6454 !important;
    color: #fff !important;
    border: solid 1px #8a6454 !important;
    }
    .Rectangle-4 {
    width: 688px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(65, 48, 42, 0.15);
    background-color: #8a6454;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    }
    .dark3xvv {
    width: 200px;
    height: 65px;
    object-fit: contain;
    }
    .container{
    width: 700px;
    }
    .side../image{
    width: 260px;
    height:960px;
    object-fit: contain;
    float: left
    }
    .sidetop {
    width: 125px;
    height: 41px;
    object-fit: contain;
    margin-top: 15px;
    }
    .hr {
    width: 260px;
    height: 960px;
    background-../image: linear-gradient(165deg, #775649, #282323);
    }
    .mymenu ul li{
    display: inline-block;
    margin-top: 25px;
    height: 21px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #2e221e;
        /*margin-left: 19px;*/
        margin-right:0px !important;
        padding :0px !important;
    padding-right: 48px !important;        
    }
    .updateplan{
    
    border-radius: 4px;
    background-color: #8a6454;
    padding:12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: white !important;
    cursor: pointer;
    }
    .block{display: inline-block;float: left;}
    .form-btn{
    width: 167px !important;
    border-radius: 4px;
    padding:12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 0;
    height: 40px;
    background-color: #ffffff;
    color: #775649;
    border: solid 1px #ebebeb;
    }
    .send-email{border: solid 1px #8a6454;color:#fff;background-color: #8a6454;}
    .name-btn{
      border-radius: 0px 4px 4px 0px;
      border-radius: 0px 4px 4px 0px;
      background-color: #ffffff;
    color: #775649;
    border: solid 1px #ebebeb;
    }
  
    .Add-Documents {
    font-family: Roboto;
    
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #41302a;
    }
    .Add-Documents h2{
          font-size: 26px;
    border-bottom: 1px solid #fcfafa;
    margin: 0 48px 0px 0;
    }
    .form-reciept{
          border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
    background-color: #ffffff;
    padding: 24px 24px;
    margin-bottom: 8px;
    }
        .need-to-sign{
      
    height: 40px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .Kakao-Talk {
  width: 78px;
  height: 21px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #775649;

}
.set-password
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9ea0a5;
}
.docs{
    font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #2e221e;
}
.inputwithicon input[type=text]{
padding-left: 40px;
}
.inputwithicon input[type=password]{
padding-left: 40px;
}
.inputwithicon{
  position: relative;
}
.inputwithicon i{
  position: absolute;
  left: 0;
  top: 8px;
  padding: 4px 25px;
  color: #aaa;
}
.check input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
.digits{
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5 !important;
}
footer{
    padding-top: 83px;
    margin-left: 42px;
}
.footer {
  padding-top: 25px;
  border-top: 1px solid #d3cece;
  margin-bottom: 0;
  padding-bottom: 25px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9ea0a5;
}
.contnt-header{
      background: white;
    height: 71px;
    margin: 0px;
    padding: 0px;
    box-shadow: 10px 10px 10px #F3EFEE;
}



body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  background: url('../image/side.png');
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.center{text-align: center;}

#main {
  transition: margin-left .5s;
      margin-left: 250px;
}
.menus-bar{display: none;}
.closebtn{display: none !important;}
.dd .divider{
    border-left:none !important;
    border-right:none !important;
}
.dd .ddTitle{background: #fff !important;}
@media only screen and (max-width: 768px) {
.gototemplete {max-width: 100% !important;}
    .order-col-last{order:13;}
    .mymenu ul li{display: block;}
.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
.menus-bar{display: inline-block;}
.closebtn{display: block !important;}
#mySidenav{display: none;}
#main{margin-left:0px;padding: 15px;}
.contnt-header{
  height: inherit;
}
.center{text-align: left;}
.paddingManaged{padding-left: 0 !important;}
}
@media only screen and (max-width: 450px) {
    .gototemplete {max-width: 100% !important;}
    .order-col-last{order:13;}
    .mymenu ul li{display: block;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
.menus-bar{display: inline-block;}
.closebtn{display: block !important;}
#mySidenav{display: none;}
#main{margin-left:0px;padding: 15px;}
.contnt-header{
  height: inherit;
}
.center{text-align: left;}
.paddingManaged{padding-left: 0 !important;}
}
.arrow-box{
position: relative;
}
.arrow-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #bcdaed;
    border-width: 17px;
    margin-left: -32px;
}

.arrow-box:after, .arrow-box:before {
    bottom: 100%;
    left: 84px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.content p{
     font-family: Roboto;
    font-weight: bold;
    color: #aaa;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px; 
}



/* buttons CSS */
 
    
   
    .signature{
    border: 1px solid #ee9964 !important;
    color: #ee9964 !important;

    }
    .full-name
    {
    border:1px solid #60ccd8 !important;
    color: #60ccd8 !important;
    }
    .company{
    border: 1px solid #d5c45c !important;
    color: #d5c45c !important;
    }
    .title{
    border: 1px solid #ee9964 !important;
    color: #ee9964 !important;
    }
    .text
    {
    border:1px solid #60ccd8 !important;
    color: #60ccd8 !important;
    }
    .menu-date{
    border: 1px solid #d5c45c !important;
    color: #d5c45c !important;
    }
    .menu-bars{
    color: #9ea0a5;
    /*position: absolute;*/
    left: 0;
    bottom: 15px;
    }
    .last-close{
    color: #9ea0a5;
    /*position: absolute;*/
    right: 0;
    bottom: 15px;
    }
    .p-relative{
    position: relative;
        margin-right: 19px;
    }


/*Review page */

 .all-reciients{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2e221e;
    }
    .expiration-error{
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    padding: 5px;
    margin-left: 10px;
    }
    .expiration-time{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
    }
    .expiration-time-color{
    font-weight: bold;
    color: #775649;
    }
    .review-document-content{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #2e221e;
    }
    .recipients-number{
    border-radius: 50px;
    box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
    background-color: #feefed;
    padding-left: 15px;
    padding-top: 7px;
    width: 40px;
    height: 40px;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ef634c;
    }
    .recipients-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
    }
    .recipients-email{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #9ea0a5;
    }
    .recipients-detail{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-two);
    cursor: pointer;
    }
    .you-done{
        font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center !important;
  color: #41302a;
    }
    .you-done-modal-content{
        font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #9ea0a5;
    }
.go-home{
    border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(65, 48, 42, 0.15);
  background-color: #8a6454;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.content-collapse
{
    border: solid 1px #ebebeb;
    background-color: #fcfafa;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    font-size: 13px;
}


.gototemplete {
    display: block;
    margin: 0 auto;
    max-width: 16%;
    margin-bottom: 12px;
}
.social{
    padding: 8px;
    background: #dddddd63;
    border-radius: 75%;
    text-align: center;
    margin-right: 4px;
}
.social > i{color:#000;}

.mymenu ul li:before{
    content:'';
    background: red;
    width:2px;
    height: 2px; 
}
.proilelogo{
    width:90% !important;
}
.border-line{

}
.border-line:before{
        content: '';
    border-top: 3px dotted #d3cece;
    width: 45px;
    height: 1px;
    position: absolute;
    top: 25%;
    left: 105%;
}
.share-btn{
        padding: 10px;
    background: #fff;
    border: 1px solid #ebebeb;
    color:#aaa;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
}
.left-btn{
        border-radius: 5px 0px 0px 5px;
        float: left;
}
.right-btn{
        border-radius: 0px 5px 5px 0px;
}
.errors{color:red;text-align: left;}