/node_modules
/public/hot
/public/storage
/public/js
/public/images_documents
/public/images
/public/mix-manifest.json
/public/favicon.png
/resources/views/vendor
/storage/*.key
/vendor
#.env
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock

package-lock.json